$white-text: #fff;
$black-text: #000;
.clickable-row {
  cursor: pointer;
}
.admin__wrapper {
  display: flex;
  .admin__sidenav {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 392px;
    background-color: #3d424e;
    color: $white-text;
    
    .user {
      display: flex;
      //  justify-content: space-between;
      align-items: center;
      background-color: #474c59;
      margin-bottom: 30px;
      &__avatar {
        padding: 20px 15px;
        img {
          width: 75px;
          height: 75px;
          border-radius: 50%;
        }
      }
      &__fullname {
        font-weight: 600;
        font-size: 20px;
      }
      &__role {
        font-size: 16px;
      }
    }
    .features {
      background-color: #474c59;

      &__menu {
        &-item {
          padding: 15px;
          a {
            text-decoration: none;
            color: $white-text;
            font-size: 18px;
            i {
              margin-right: 5px;
              font-size: 20px;
            }
            &:hover {
              color: $white-text;
            }
          }
          &--active {
            opacity: 0.8;
            pointer-events: none;
            border: solid 2px white;
          }
        }
      }
    }
  }
  .admin__main {
    flex: 1;
    background: #e5e5e5;
    .top-title {
      height: 88px;
      background: white;
      padding: 15px 15px;
      margin-bottom: 20px;
      position: sticky;
      top: 0;
      z-index: 1000;
      border-bottom: solid 3px #e5e5e5;
    }
    .content {
      background: white;
      width: 100%;
      height: calc(100% - 108px);
      padding: 30px 15px;
      .content__header {
        margin-bottom: 20px;
      }
      &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 3px #e5e5e5;
        padding: 10px;
        margin-bottom: 10px;
      }
      .content__data {
        table {
          table-layout: fixed;
          width: 100%;
        }
        &-row {
          &__actions {
            display: flex;
          }
        }
        .sub-categories {
          display: flex;
          .sub-category {
            position: relative;
            padding: 15px 15px 0 0;

            margin: 0 5px;

            .close {
              position: absolute;
              top: -5px;
              right: 0;
            }
          }
        }
      }
      .content__actions {
        margin-top: 30px;
        display: flex;
        .content__action {
          padding: 5px 20px;
        }
      }
    }
    .set-premium {
      display: inline-block;
      margin-left: 50px;
      .badge {
        padding: 5px;
      }
    }
  }
  .add-new {
    position: fixed;
    bottom: 50px;
    right: 50px;
    &__btn {
      background: rgb(240, 165, 0);
      color: $white-text;
      font-size: 20px;
      border: none;
      border-radius: 50%;
      padding: 10px 17px;
      transition: all 0.2s ease-in-out;
      &:focus {
        outline: none;
      }
      &:hover {
        background: rgba(240, 165, 0, 0.7);
        transform: scale(1.2);
      }
    }
  }
}
.select2-container .select2-selection--single {
  min-height: 35px;
  padding-top: 3px;
}
.kv-file-remove {
  display: none !important;
}
