body {
  font-family: "Roboto", sans-serif;
}

.bg--gray {
  background-color: #dddddd;
}

.text-gray {
  color: #dddddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  cursor: pointer;
  list-style: none;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5rem;
  color: white;
}
.header__link:first-child {
  background-color: #3d5b9a;
}
.header__link:nth-last-child(1) {
  background-color: #2d7da7;
}
.header__link:nth-last-child(2) {
  background-color: #cb3e2d;
}
.header__link:nth-last-child(3) {
  background-color: #1d9eec;
}
.header__item {
  width: 33.33%;
}
.header .sign_in {
  outline: none;
}

#categories {
  height: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#categories.show {
  padding: 1rem 0;
  margin-bottom: 1rem;
  height: auto;
}

.categori__list {
  display: flex;
  flex-wrap: wrap;
}
.categori__item {
  width: 20%;
}
.categori__item-title {
  position: relative;
}
.categori__item-title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  z-index: 1;
  background-color: black;
  left: -1rem;
}
.categori__item-chiln {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}
.categori__item-chiln:hover {
  color: black;
}

.banner {
  margin-bottom: 5rem;
}

.box_search input {
  border: none;
  outline: none;
  width: 10rem;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 1 !important;
  width: 10% !important;
}

.nav-link:focus {
  outline: none !important;
}

.grid__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2rem;
}
.grid__readmore {
  display: none;
}
.grid__item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.grid__item:first-child {
  grid-row: 1/-1;
}
.grid__item:last-child .grid__readmore {
  display: block;
}
.grid__item:hover .gird__bg {
  transform: scale(1.2);
}
.grid__item .gird__bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.25s;
}
.grid__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.grid__content img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 0 auto;
}

.tabContainer {
  width: 100%;
}
.tabContainer .buttonContainer .tab__item {
  cursor: pointer;
  width: 8rem;
  border: none;
  outline: none;
  padding: 1rem;
  margin: 0;
  background-color: #d7d4d4;
}
.tabContainer .buttonContainer .close {
  margin-right: 1rem;
  color: black !important;
  opacity: 1;
  outline: none;
}
.tabContainer .tabPanel {
  padding: 3rem 5rem;
  height: 85%;
  text-align: center;
  display: none;
}
.tabContainer .tabPanel__form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background-color: #dddddd;
}
.tabContainer .tabPanel__form input::placeholder {
  color: black;
}
.tabContainer .tabPanel__form .sumit {
  border: none;
  background-color: #f0a500;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}
.tabContainer .tabPanel__form .form__link {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.5rem;
  color: white;
}
.tabContainer .tabPanel__form .form__link:nth-last-child(2) {
  background-color: #3d5b9a;
}
.tabContainer .tabPanel__form .form__link:last-child {
  background-color: #cb3e2d;
}
.tabContainer .tabPanel__form .view-code {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  background-color: #eeeeee;
  color: red;
}
.tabContainer .tabPanel__form .newcode {
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: block;
  position: relative;
}
.tabContainer .tabPanel__form .newcode::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 2px;
  top: 70%;
  background-color: black;
  left: 15%;
  z-index: 1;
  display: none;
}
.tabContainer .tabPanel__form .newcode:hover::after {
  display: block;
}

.form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background-color: #dddddd;
}
.form input::placeholder {
  color: black;
}
.form .sumit {
  border: none;
  background-color: #f0a500;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.modal-dialog {
  max-width: 650px !important;
}

.tag__item {
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: border 0.25s linear;
}
.tag__item:hover {
  border-bottom-color: black;
}

.bg-img {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.bg-rbga {
  background-color: rgba(0, 0, 0, 0.6);
}

.tabFilter {
  width: 100%;
}
.tabFilter .buttonFilter .tab__item {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem;
  margin: 0;
  background-color: #d7d4d4;
}
.tabFilter .tabFilter__Panel {
  height: 85%;
  display: none;
}
.tabFilter .tabContent {
  border: 3px solid #d7d4d4;
  border-top: none;
}
.tabFilter .tabContent li {
  border-bottom: 2px solid #d7d4d4;
}
.tabFilter .tabContent li a {
  text-decoration: none;
}
.tabFilter .border-after {
  position: relative;
}
.tabFilter .border-after::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 70%;
  background-color: #f0a500;
  top: 100%;
  left: 15%;
}

.author {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.author__bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.25s;
}
.author:hover .author__bg {
  transform: scale(1.2);
}

.top-newspaper__list {
  padding: 1rem 3rem;
}
.top-newspaper__list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  outline: none;
  font-size: 1.8rem;
}
.top-newspaper__list .slick-arrow.slick-next {
  right: 1%;
}
.top-newspaper__list .slick-arrow.slick-prev {
  left: 1%;
}
.top-newspaper__item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.top-newspaper__item:not(:first-child) {
  margin-left: 1rem;
}
.top-newspaper__item:hover .item__bg {
  transform: scale(1.2);
}
.top-newspaper__item .item__bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.25s;
}
.top-newspaper__item .item__content {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.top-newspaper__item .item__content img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
  }
  .header__item {
    margin-bottom: 1rem;
  }

  .grid__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 2rem;
  }
  .grid__item:first-child {
    grid-column: 1/1;
  }

  .categori__item {
    width: 33.33%;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .grid__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2rem;
  }
  .grid__item:first-child {
    grid-column: 1/-1;
  }
}

/*# sourceMappingURL=style.css.map */
