<div class="row container-fluid pr-0">
    <div class="col-xl-9 pr-0 mt-4">
        <div>
            <img src="https://images.pexels.com/photos/462024/pexels-photo-462024.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                style="height: 70%; width: 100%;" class="img-fluid" alt="Responsive image">
            <p class="text-warning font-weight-bold mt-4 mb-2">Thứ 7, 6/6/2020</p>
            <h1>Mỹ dỡ lệnh cấm đối với Trung Quốc</h1>
            <div class="d-flex justify-content-start align-items-center text-secondary">
                <div class="mr-4">
                    <i class="fa fa-eye text-info" aria-hidden="true"></i>
                    <span>100</span>
                </div>
                <div class="mr-4 ml-2">
                    <i class="fa fa-commenting-o text-success" aria-hidden="true"></i>
                    <span>100</span>
                </div>
                <div class="mr-4 ml-2">
                    <i class="fa fa-heart text-danger" aria-hidden="true"></i>
                    <span>100</span>
                </div>
                <div class="mr-4 ml-2">
                    <i class="fa fa-thumbs-up text-primary" aria-hidden="true"></i>
                    <span>100</span>
                </div>
            </div>
            <p class="mt-2 font-weight-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
                soluta tenetur temporibus itaque expedita hic ullam earum, ducimus, iure obcaecati, officia vero
                quam quas ut aliquam distinctio. Exercitationem, iure saepe! Lorem ipsum dolor sit amet consectetur,
                adipisicing elit. Unde minima earum sed, quia eaque officia aut illo dolore eius similique aliquid
                dolor inventore nulla ut vel quos, magni deleniti non. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Numquam, unde quod dolore esse nulla fuga eligendi dolorem perferendis itaque a
                fugit amet exercitationem sed cumque. Inventore cumque vel provident harum? Lorem, ipsum dolor sit
                amet consectetur adipisicing elit. Quod similique voluptatem voluptatibus doloremque accusantium,
                qui provident debitis molestiae illo vero, dolore non architecto nemo repellendus nihil officia,
                mollitia quasi a. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam harum excepturi
                nostrum, eveniet corporis natus pariatur illum praesentium facilis, ex voluptatem veniam
                voluptatibus a, doloribus magnam neque quaerat similique quam. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. A, velit! Beatae dolorum illum perspiciatis temporibus, repellendus,
                nam odit minus magni fugiat porro veniam cumque minima architecto itaque ratione? Odit, voluptas.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit a, culpa dolor quidem, pariatur error
                dolores fuga laboriosam rem aspernatur soluta nam maiores ea! Eos exercitationem nemo ipsum
                necessitatibus aliquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quia corporis
                a maxime unde pariatur, saepe atque suscipit voluptatum neque quo quasi totam? Error, nesciunt.
                Debitis nulla vitae animi sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, saepe
                recusandae voluptate, repellendus, obcaecati id iste beatae corrupti explicabo quae dolor
                cupiditate! Recusandae, officiis corrupti aliquam aliquid quaerat reprehenderit modi?</p>
        </div>
        <div class="d-flex justify-content-between align-items-center bg--gray p-2">
            <div class="d-flex justify-content-start align-items-center">
                <p class="mr-2 mb-0 text-warning font-weight-bold">Posted in:</p>
                <ul class="d-flex justify-content-start align-items-center mb-0 tag__list">
                    <li class="mr-2 tag__item">Chính Trị,</li>
                    <li class="mr-2 tag__item">Pháp Luật,</li>
                    <li class="mr-2 tag__item">Nước Ngoài</li>
                </ul>
            </div>
            <div>
                <ul class="header__links d-flex mb-0">
                    <li class="header__link"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li class="header__link"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                    <li class="header__link"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li class="header__link"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
        <div class="mt-3 author">
            <div class="bg-img author__bg"
                style="background-image: url(https://images.pexels.com/photos/4121872/pexels-photo-4121872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
            </div>
            <div class="d-flex align-items-center bg-rbga p-4">
                <img class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover; margin: 0 auto;"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <div class="ml-5">
                    <div class="d-flex align-items-baseline mb-2">
                        <h3 class="text-uppercase font-weight-bold text-white mb-0">ryan tedder</h3>
                        <a href="" class="font-weight-bold text-warning text-uppercase ml-5">Author news</a>
                    </div>
                    <p class="text-white-50">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit omnis
                        dignissimos quod eveniet
                        commodi odio dolorem quas similique, eum molestiae et ab nemo vero totam saepe laudantium,
                        reprehenderit quibusdam autem!</p>
                </div>
            </div>
        </div>
        <div class="p-4 bg-dark mt-3 text-center">
            <h5 class="text-white text-uppercase">food choices 101 tips for busy women</h5>
            <a class="text-muted font-weight-bold" href="">NEXT POST <i class="fa fa-chevron-right"
                    aria-hidden="true"></i></a>
        </div>
        <div class="mt-4">
            <h5 class="text-uppercase font-weight-bold">Comment</h5>
            <ul>
                <li class="mt-4 border-bottom">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle"
                            style="width: 100px; height: 100px; object-fit: cover; margin: 0 auto;"
                            src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                        <div class="ml-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-baseline mb-2">
                                    <h3 class="text-uppercase font-weight-bold text-dark mb-0">ryan tedder</h3>
                                    <a href="" class="font-weight-bold text-warning text-uppercase ml-5">March 30, 2020
                                        At 2:56 Pm</a>
                                </div>
                                <button class="text-uppercase text-warning font-weight-bold border-0"
                                    style="background-color: transparent;">Reply</button>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
                                omnis dignissimos quod eveniet
                                commodi odio dolorem quas similique, eum molestiae et ab nemo vero totam saepe
                                laudantium,
                                reprehenderit quibusdam autem!</p>
                        </div>
                    </div>
                </li>
                <li class="mt-4 border-bottom">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle"
                            style="width: 100px; height: 100px; object-fit: cover; margin: 0 auto;"
                            src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                            alt="">
                        <div class="ml-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-baseline mb-2">
                                    <h3 class="text-uppercase font-weight-bold text-dark mb-0">ryan tedder</h3>
                                    <a href="" class="font-weight-bold text-warning text-uppercase ml-5">March 30, 2020
                                        At 2:56 Pm</a>
                                </div>
                                <button class="text-uppercase text-warning font-weight-bold border-0"
                                    style="background-color: transparent;">Reply</button>
                            </div>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
                                omnis dignissimos quod eveniet
                                commodi odio dolorem quas similique, eum molestiae et ab nemo vero totam saepe
                                laudantium,
                                reprehenderit quibusdam autem!</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mt-4">
            <h5 class="text-uppercase font-weight-bold">Leave A Comment</h5>
            <form action="" class="form">
                <div class="d-flex flex-column">
                    <input type="text" placeholder="NAME*:">
                    <input type="text" placeholder="EMAIL*:">
                    <input type="text" placeholder="YOUR COMMENT:">
                </div>
                <div class="d-flex flex-column mb-4">
                    <P class="text-muted">Your email address will not be published. Required fields are marked*</P>
                    <div>
                        <button class="sumit" type="submit">POST COMMENT</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-3 pr-0 mt-4">
        <div class="bg-img author">
            <div class="bg-img author__bg"
                style="background-image: url(https://images.pexels.com/photos/4121872/pexels-photo-4121872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
            </div>
            <div class="p-4 d-flex flex-column bg-rbga author__content">
                <img class="rounded-circle mt-4" style="width: 150px; height: 150px; object-fit: cover; margin: 0 auto;"
                    src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                <a href="" class="font-weight-bold text-warning text-uppercase mt-4 mb-3">Author news</a>
                <h2 class="text-uppercase font-weight-bold text-white">ryan tedder</h2>
                <p class="mb-4 text-white-50">Graphic Designer / Photographer</p>
                <ul class="header__links d-flex mb-4">
                    <li class="header__link"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li class="header__link"><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                    <li class="header__link"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li class="header__link"><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
        <div class="tabFilter">
            <div class="buttonFilter d-flex justify-content-between align-items-center">
                <div class="buttonFilter d-flex justify-content-start align-items-center">
                    <button class="text-uppercase font-weight-bold tab__item" onclick="showFilter__Panel(0)"><i
                            class="fa fa-heart" aria-hidden="true"></i> MOST POPULAR</button>
                    <button class="text-uppercase font-weight-bold tab__item" onclick="showFilter__Panel(1)"><i
                            class="fa fa-thumbs-up" aria-hidden="true"></i> MOST COMMENT</button>
                </div>
            </div>
            <div class="tabContent">
                <div class="tabFilter__Panel p-3">
                    <img src="https://images.pexels.com/photos/459728/pexels-photo-459728.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                        class="img-fluid" alt="Responsive image">
                    <ul class="mt-4">
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark">
                                <span class="text-gray" style="font-size: 35px;">1.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark">
                                <span class="text-gray" style="font-size: 35px;">2.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark"
                                style="outline: none;">
                                <span class="text-gray" style="font-size: 35px;">3.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark">
                                <span class="text-gray" style="font-size: 35px;">4.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tabFilter__Panel p-3">
                    <img src="https://images.pexels.com/photos/247763/pexels-photo-247763.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                        class="img-fluid" alt="Responsive image">
                    <ul class="mt-4">
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark">
                                <span class="text-gray" style="font-size: 35px;">1.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark">
                                <span class="text-gray" style="font-size: 35px;">2.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark"
                                style="outline: none;">
                                <span class="text-gray" style="font-size: 35px;">3.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                        <li class="pb-3 mt-2">
                            <a href="" class="d-flex align-items-center text-uppercase font-weight-bold text-dark">
                                <span class="text-gray" style="font-size: 35px;">4.</span>
                                <span>barbecue party tips for a truly amazing event</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pl-3 pr-3 pb-3">
                    <h4 class="text-center font-weight-bold border-after">CATEGORIES</h4>
                    <ul>
                        <li class="pb-1 mt-3">
                            <a href="">
                                <h5 class="text-uppercase font-weight-bold text-dark">xã hội</h5>
                            </a>
                        </li>
                        <li class="pb-1 mt-3">
                            <a href="">
                                <h5 class="text-uppercase font-weight-bold text-dark">pháp luật</h5>
                            </a>
                        </li>
                        <li class="pb-1 mt-3">
                            <a href="">
                                <h5 class="text-uppercase font-weight-bold text-dark">chính trị</h5>
                            </a>
                        </li>
                        <li class="pb-1 mt-3">
                            <a href="">
                                <h5 class="text-uppercase font-weight-bold text-dark">thể thao</h5>
                            </a>
                        </li>
                        <li class="pb-1 mt-3">
                            <a href="">
                                <h5 class="text-uppercase font-weight-bold text-dark">giải trí</h5>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pl-3 pr-3 pb-3 text-center">
                    <h4 class=" font-weight-bold border-after">JOIN</h4>
                    <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <div class="pl-4 pr-4">
                        <button class="w-100 mb-3 p-2 border-0 text-secondary">ENTER YOUR EMAIL....</button>
                        <button class="w-100 p-2 border-0 bg-warning text-white font-weight-bold">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="signin_box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="tabContainer">
                <div class="buttonContainer d-flex justify-content-between align-items-center">
                    <div class="buttonContainer d-flex justify-content-start align-items-center">
                        <button class="text-uppercase font-weight-bold tab__item" onclick="showPanel(0)">Login</button>
                        <button class="text-uppercase font-weight-bold tab__item"
                            onclick="showPanel(1)">ReGisTer</button>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="tabPanel">
                    <h1 class="tabPanel__title text-uppercase mb-3">login</h1>
                    <form action="" class="tabPanel__form">
                        <div class="d-flex flex-column">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Password">
                        </div>
                        <div class="d-flex justify-content-between mb-4 align-items-center">
                            <a href="" class="font-weight-bold text-dark">Forget your password ?</a>
                            <button class="sumit" type="submit">Sign in</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Or login by: </span>
                            <a class="form__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="form__link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
                <div class="tabPanel">
                    <h1 class="tabPanel__title text-uppercase mb-3">register</h1>
                    <form action="" class="tabPanel__form">
                        <div class="d-flex flex-column">
                            <input type="text" placeholder="Full name">
                            <input type="text" placeholder="Email">
                            <input type="text" placeholder="Password">
                            <input type="text" placeholder="Confirm Password">
                        </div>
                        <div class="d-flex align-items-center justify-content-start">
                            <input type="text" placeholder="Confirm Password">
                            <p class="view-code">ABC123</p>
                            <p class="newcode">New Code</p>
                        </div>
                        <div class="mb-4 mt-4">
                            <button class="sumit" type="submit">Register</button>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span>Or login by: </span>
                            <a class="form__link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="form__link"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>