{{#if user}}
<div class="logo"><img src="/images/logo-white.png" alt=""></div>
<div class="user">
    {{#with user}}
    <div class="user__avatar"><img src="{{#if avatar}}{{avatar}}{{else}}/images/avatar.png{{/if}}" alt=""></div>
    <div class="user__info">
        <div class="user__fullname">{{fullName}}</div>
        <div style="text-transform: capitalize;" class="user__role">{{role}}</div>
    </div>
    {{/with}}
</div>
<div class="features">
    <ul class="features__menu">
        {{#when user.role "eq" "writer" }}
        <li class="features__menu-item {{#when activeFeature "eq" 1}}features__menu-item--active {{/when}}">
            <a href="/writer"><i class="fa fa-tasks" aria-hidden="true"></i> Posts</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 2}}features__menu-item--active {{/when}}">
            <a href="/writer/posts/add"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Add New Post</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 10}}features__menu-item--active {{/when}}">
            <a href="/writer/profile"><i class="fa fa-tasks" aria-hidden="true"></i> Profile</a>
        </li>
        {{/when}}
        {{#when user.role "eq" "admin" }}
        <li class="features__menu-item {{#when activeFeature "eq" 1}}features__menu-item--active {{/when}}">
            <a href="/admin"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 2}}features__menu-item--active {{/when}}">
            <a href="/admin/categories"><i class="fa fa-bars" aria-hidden="true"></i>Categories</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 3}}features__menu-item--active {{/when}}">
            <a href="/admin/tags"><i class="fa fa-tags" aria-hidden="true"></i>Tags</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 4}}features__menu-item--active {{/when}}">
            <a href="/admin/posts"><i class="fa fa-tasks" aria-hidden="true"></i> Posts</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 5}}features__menu-item--active {{/when}}">
            <a href="/admin/users"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 0}}features__menu-item--active {{/when}}">
            <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        <li class="features__menu-item {{#when activeFeature "eq" 10}}features__menu-item--active {{/when}}">
            <a href="/admin/profile"><i class="fa fa-tasks" aria-hidden="true"></i> Profile</a>
        </li>
        {{/when}}
        {{#when user.role "eq" "editor" }}
        <li class="features__menu-item {{#when activeFeature "eq" 1}}features__menu-item--active {{/when}}">
            <a href="/editor"><i class="fa fa-tasks" aria-hidden="true"></i> Management</a>
        </li>
        <li class="features__menu-item {{#when activeFeature "eq" 10}}features__menu-item--active {{/when}}">
            <a href="/editor/profile"><i class="fa fa-tasks" aria-hidden="true"></i> Profile</a>
        </li>
        {{/when}}
        {{#when user.role "eq" "user" }}
        <li class="features__menu-item {{#when activeFeature "eq" 10}}features__menu-item--active {{/when}}">
            <a href="/user/profile"><i class="fa fa-tasks" aria-hidden="true"></i> Profile</a>
        </li>
        {{/when}}
        <li class="features__menu-item {{#when activeFeature "eq" 0}}features__menu-item--active {{/when}}">
            <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>
    </ul>
</div>
{{/if}}